@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background-color: rgb(226 232 240);
	background-color: rgb(148 163 184);
	background-image: linear-gradient(to bottom right, rgb(100 116 139), rgb(241 245 249));
	/* font-family: 'Roboto', sans-serif; */
}
